<!-- HTML FOR THE HOMEPAGE -->
<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>exported project</title
    ><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="./app/assets/stylesheets/style.css" /><div
      ><link href="./app/assets/stylesheets/index.css" rel="stylesheet" /><div
        class="fitness-tracker-dashboard-container"
        ><div class="fitness-tracker-dashboard-fitness-tracker-dashboard"
          ><span class="fitness-tracker-dashboard-text"
            ><span>Hi!</span></span
          ><span class="fitness-tracker-dashboard-text02"
            ><span>Welcome Back </span></span
          ><div
            class="fitness-tracker-dashboard-running" 
            ><img
              alt="Rectangle1811"
              src="assets/rectangle1811-4dtx-200h.png"
              class="fitness-tracker-dashboard-rectangle" /><img
              alt="Ellipse1811"
              src="assets/ellipse1811-nfhr-200h.png"
              class="fitness-tracker-dashboard-ellipse" /><img
              alt="image171812"
              src="assets/image171812-dnb9-200h.png"
              class="fitness-tracker-dashboard-image17" /><img
              alt="image191813"
              src="assets/image191813-z3la-200w.png"
              class="fitness-tracker-dashboard-image19" /><img
              alt="image201813"
              src="assets/image201813-m6zi-200h.png"
              class="fitness-tracker-dashboard-image20" /></div
          ><span class="fitness-tracker-dashboard-text04"
            ><span>Your Friends</span></span
          ><div class="fitness-tracker-dashboard-progress"
            ><img
              alt="Rectangle2125"
              src="assets/rectangle2125-bwpj-400w.png"
              class="fitness-tracker-dashboard-rectangle1"
            /><span class="fitness-tracker-dashboard-text06 Heading_4"
              ><span>Progress</span></span
            ><div class="fitness-tracker-dashboard-frame"
              ><span class="fitness-tracker-dashboard-text08 Body_8"
                ><span>Weekly</span></span
              ></div
            ><div class="fitness-tracker-dashboard-frame1"
              ><a href="/cardios/new.html">
              <div class="fitness-tracker-dashboard-cardio"
                ><span class="fitness-tracker-dashboard-text10"
                  ><span>Cardio</span></span
                ><span class="fitness-tracker-dashboard-text12 Body_7"
                  ><span><%= @total_cardios_consumed %> hrs</span></span
              ></a>
              </div
              ><a href="/stretchings/new.html">
              <div class="fitness-tracker-dashboard-stretching"
                ><span class="fitness-tracker-dashboard-text14"
                  ><span>Stretching</span></span
                ><span class="fitness-tracker-dashboard-text16 Body_7"
                  ><span><%= @total_stretchings_consumed %> hrs</span></span
              ></a>
              </div
              ><a href="/treadmills/new.html">
              <div class="fitness-tracker-dashboard-treadmill"
                ><span class="fitness-tracker-dashboard-text18"
                  ><span>Treadmill</span></span
                ><span class="fitness-tracker-dashboard-text20 Body_7"
                  ><span><%= @total_treadmills_consumed %> hrs</span></span
              ></a>
              </div
              ><a href="/strengths/new.html">
              <div class="fitness-tracker-dashboard-strength"
                ><span class="fitness-tracker-dashboard-text22"
                  ><span>Strength</span></span
                ><span class="fitness-tracker-dashboard-text24 Body_7"
                  ><span><%= @total_strengths_consumed %> hrs</span></span
              ></a>
              </div
              ></div
            ><span class="fitness-tracker-dashboard-text26 Heading_1"
              ><span><%= @total_cardios_consumed + @total_stretchings_consumed + @total_treadmills_consumed + @total_strengths_consumed %></span></span
            ><span class="fitness-tracker-dashboard-text28 Body_3"
              ><span>Hours</span></span
            ></div
          ><span class="fitness-tracker-dashboard-text30"
            ><span>Your Goals</span></span
          ><span class="fitness-tracker-dashboard-text32"
            ><span><a href="/past_inputs/index.html">User Past Inputs</a></span></span
          ><div class="fitness-tracker-dashboard-frame66"
            ><img
              alt="Rectangle392533"
              src="assets/rectangle392533-9tx-200h.png"
              class="fitness-tracker-dashboard-rectangle39"
            /><a href="/weights/new.html">
            <div class="fitness-tracker-dashboard-frame14"
              ><span class="fitness-tracker-dashboard-text34"
                ><span><%= @total_weights_consumed %>lbs</span></span
              ><span class="fitness-tracker-dashboard-text36"
                ><span> weight</span></span
            ></a>
            </div
            ><a href="/heights/new.html">
            <div class="fitness-tracker-dashboard-frame15"
              ><span class="fitness-tracker-dashboard-text38"
                ><span><%= @total_heights_consumed %>in</span></span
              ><span class="fitness-tracker-dashboard-text40"
                ><span> height</span></span
            ></a>
            </div
            ><a href="/ages/new.html">
            <div class="fitness-tracker-dashboard-frame16"
              ><span class="fitness-tracker-dashboard-text42"
                ><span><%= @total_ages_consumed %>years</span></span
              ><span class="fitness-tracker-dashboard-text44"
                ><span> age</span></span
            ></a>
            </div
            ></div
          ><span class="fitness-tracker-dashboard-text46 Heading_4"
            ><span>Workouts for you</span></span
          ><a href="/steps/new.html">
          <div class="fitness-tracker-dashboard-steps"
            ><img
              alt="Rectangle2108"
              src="assets/rectangle2108-180h-200h.png"
              class="fitness-tracker-dashboard-rectangle2" /><span
              class="fitness-tracker-dashboard-text48 Body_1"
              ><span>Steps</span></span
            ><span class="fitness-tracker-dashboard-text50 Heading_1"
              ><span><%= @total_steps_consumed %> Steps</span></span
            ><img
              alt="Vector2124"
              src="assets/vector2124-o9q.svg"
              class="fitness-tracker-dashboard-vector" />
          </a>
          </div
          >
            <a href="/water_intakes/new.html">
            <div class="fitness-tracker-dashboard-water"
            ><img
              alt="Rectangle62100"
              src="assets/rectangle62100-svep-200h.png"
            /><img
              alt="Rectangle102101"
              src="assets/rectangle102101-7nnw-400h.png"
              class="fitness-tracker-dashboard-rectangle10"
            /><span class="fitness-tracker-dashboard-text54 Body_1"
              ><span>Water</span></span
            ><div class="fitness-tracker-dashboard-water1"
              ><div class="fitness-tracker-dashboard-group"
                ><img
                  alt="Vector2124"
                  src="assets/vector2124-lo8x.svg"
                  class="fitness-tracker-dashboard-vector1" /></div></div
            ><span class="fitness-tracker-dashboard-text56 Heading_1"
              ><span><%= @total_water_consumed %> Cups</span></span
            ></a>
            </div
          ><div class="fitness-tracker-dashboard-calories"
            ><img
              alt="Rectangle62969"
              src="assets/rectangle62969-w3tq-200h.png"
              class="fitness-tracker-dashboard-rectangle61"
            /><div class="fitness-tracker-dashboard-topology1"
              ><img
                alt="Vector902971"
                src="assets/vector902971-39kb.svg"
                class="fitness-tracker-dashboard-vector90" /><img
                alt="Vector912972"
                src="assets/vector912972-0a5f.svg"
                class="fitness-tracker-dashboard-vector91" /><img
                alt="Vector90Vector91912973"
                src="assets/vector90vector91912973-cj6c.svg"
                class="fitness-tracker-dashboard-vector90-vector9191" /><img
                alt="Vector90Vector911822974"
                src="assets/vector90vector911822974-z5z.svg"
                class="fitness-tracker-dashboard-vector90-vector91182" /><img
                alt="Vector90Vector912732975"
                src="assets/vector90vector912732975-52ge.svg"
                class="fitness-tracker-dashboard-vector90-vector91273" /><img
                alt="Vector90Vector913642976"
                src="assets/vector90vector913642976-d5gf.svg"
                class="fitness-tracker-dashboard-vector90-vector91364" /><img
                alt="Vector90Vector914552977"
                src="assets/vector90vector914552977-7dtc.svg"
                class="fitness-tracker-dashboard-vector90-vector91455" /><img
                alt="Vector90Vector915452978"
                src="assets/vector90vector915452978-hket.svg"
                class="fitness-tracker-dashboard-vector90-vector91545" /><img
                alt="Vector90Vector916362979"
                src="assets/vector90vector916362979-t3n.svg"
                class="fitness-tracker-dashboard-vector90-vector91636" /><img
                alt="Vector90Vector917272980"
                src="assets/vector90vector917272980-7twu.svg"
                class="fitness-tracker-dashboard-vector90-vector91727" /><img
                alt="Vector90Vector918182981"
                src="assets/vector90vector918182981-mxp.svg"
                class="fitness-tracker-dashboard-vector90-vector91818" /><img
                alt="Vector90Vector919092982"
                src="assets/vector90vector919092982-10ao.svg"
                class="fitness-tracker-dashboard-vector90-vector91909" /></div
            ><img
              alt="Rectangle92983"
              src="assets/rectangle92983-oowk-400h.png"
              class="fitness-tracker-dashboard-rectangle9"
            /><img
              alt="Rectangle102984"
              src="assets/rectangle102984-op0f-400h.png"             
              class="fitness-tracker-dashboard-rectangle101"
            /><span class="fitness-tracker-dashboard-text60 Body_1"
              ><span>Calories</span></span
            >
            <a href="/calories/new.html">
            <div class="fitness-tracker-dashboard-cal">
               <div class="fitness-tracker-dashboard-group1"
                 ><img
                   alt="Vector2124"
                   src="assets/vector2124-i4k.svg"
                   class="fitness-tracker-dashboard-vector2" /></div>
             </div
             ><span class="fitness-tracker-dashboard-text62 Heading_1"
               ><span><%= @total_calories_consumed %> Kcals</span></span
             ></a>
             </div
          >
          <a href="/ayeshahtmls/easy.html">
          <div class="fitness-tracker-dashboard-trainer"
            ><img
              alt="Rectangle2103"
              src="assets/rectangle2103-nmon-200h.png"
              class="fitness-tracker-dashboard-rectangle3"
            /><span class="fitness-tracker-dashboard-text66 Body_2"
              ><span>Easy Workouts</span></span
            ><span class="fitness-tracker-dashboard-text68 Body_7"
              ><span>Low Impact</span></span
            ><img
              alt="image161772"
              src="assets/image161772-harl-200h.png"
              class="fitness-tracker-dashboard-image16"
            /><span class="fitness-tracker-dashboard-text70 Body_7"
              ><span>Click to view</span></span
            ></a>
            </div
          ><a href="/ayeshahtmls/medium.html">
          <div class="fitness-tracker-dashboard-trainer1"
            ><img
              alt="Rectangle1772"
              src="assets/rectangle1772-2p2c-200h.png"
              class="fitness-tracker-dashboard-rectangle4"
            /><span class="fitness-tracker-dashboard-text72 Body_2"
              ><span>Medium Workouts</span></span
            ><span class="fitness-tracker-dashboard-text74 Body_7"
              ><span>High Impact</span></span
            ><img
              alt="image161773"
              src="assets/image161773-wonf-200h.png"
              class="fitness-tracker-dashboard-image161"
            /><span class="fitness-tracker-dashboard-text76 Body_7"
              ><span>Click to view</span></span
            ></a>
            </div
          ><a href="/ayeshahtmls/hard.html">
          <div class="fitness-tracker-dashboard-trainer2"
            ><span class="fitness-tracker-dashboard-text78 Body_2"
              ><span>Hard Workouts</span></span
            ><span class="fitness-tracker-dashboard-text80 Body_7"
              ><span>High Impact</span></span
            ><img
              alt="image161773"
              src="assets/image161773-fjsh-200h.png"
              class="fitness-tracker-dashboard-image162"
            /><span class="fitness-tracker-dashboard-text82 Body_7"
              ><span>Click to view</span></span
            ></a>
            </div
          ><div class="fitness-tracker-dashboard-running1"
            ><img
              alt="Rectangle2113"
              src="assets/rectangle2113-b6ne-200h.png"
              class="fitness-tracker-dashboard-rectangle6" /><span
              class="fitness-tracker-dashboard-text84"
              ><span>Running</span></span
            ><span class="fitness-tracker-dashboard-text86"
              ><span><a href="/runnings/new.html"><%= @total_runnings_consumed %>miles</a>/<a href="/runninggoals/new.html"><%= @total_runninggoals_consumed %>miles</a></span></span
            ><img
              alt="Ellipse2113"
              src="assets/ellipse2113-vflm-200h.png"
              class="fitness-tracker-dashboard-ellipse1" /><img
              alt="Ellipse2114"
              src="assets/ellipse2114-b7qk-200h.png"
              class="fitness-tracker-dashboard-ellipse2" /><img
              alt="image111771"
              src="assets/image111771-fqh9-200h.png"
              class="fitness-tracker-dashboard-image11" /></div
          ><div class="fitness-tracker-dashboard-sleeping"
            ><img
              alt="Rectangle412114"
              src="assets/rectangle412114-u6oq-200h.png"
              class="fitness-tracker-dashboard-rectangle41" /><span
              class="fitness-tracker-dashboard-text88"
              ><span>Sleeping</span></span
            ><span class="fitness-tracker-dashboard-text90"
              ><span><a href="/sleepings/new.html"><%= @total_sleepings_consumed %>hrs</a>/<a href="/sleepinggoals/new.html"><%= @total_sleepinggoals_consumed %>hrs</a></span></span
            ><img
              alt="Ellipse272114"
              src="assets/ellipse272114-g44g-200h.png"
              class="fitness-tracker-dashboard-ellipse27" /><img
              alt="Ellipse302115"
              src="assets/ellipse302115-hkm-200h.png"
              class="fitness-tracker-dashboard-ellipse30" /><img
              alt="image121771"
              src="assets/image121771-nfto-200h.png"
              class="fitness-tracker-dashboard-image12" /></div
          ><div class="fitness-tracker-dashboard-weight-loss"
            ><img
              alt="Rectangle412115"
              src="assets/rectangle412115-j0z5-200h.png"
              class="fitness-tracker-dashboard-rectangle411" /><span
              class="fitness-tracker-dashboard-text92"
              ><span>Weight Loss</span></span
            ><span class="fitness-tracker-dashboard-text94"
              ><span><a href="/weightlosses/new.html"><%= @total_weightlosses_consumed %>lbs</a>/<a href="/weightlossgoals/new.html"><%= @total_weightlossgoals_consumed %>lbs</a></span></span
            ><img
              alt="Ellipse272115"
              src="assets/ellipse272115-6z8l-200h.png"
              class="fitness-tracker-dashboard-ellipse271" /><img
              alt="Ellipse302116"
              src="assets/ellipse302116-m8bo-200h.png"
              class="fitness-tracker-dashboard-ellipse301" /><img
              alt="image131771"
              src="assets/image131771-omh-200h.png"
              class="fitness-tracker-dashboard-image13" /></div
          ><img
            alt="image101771"
            src="assets/image101771-45jc-200h.png"
            class="fitness-tracker-dashboard-image10" /><img
            alt="image181812"
            src="assets/image181812-0lx8-200h.png"
            class="fitness-tracker-dashboard-image18" /></div></div
    ></div> </body
></html>
